

  :host,.footer {
    height: 30px;
    align-items: center;
    background-color: #1976d2;
    color: white;
    .link>a{
        margin-left: 20px;
        text-decoration: none;
        color: white;
      }
  }

  